/*=====================================Global Styles Start =======================================*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background: #f7f6ff;
  color: #333c41;
}

main {
  width: 90%;
  margin: 0 auto;
}

header {
  padding: 2em 0;
}
/*=====================================Global Styles End =======================================*/



/*===================================== Hero section Start =======================================*/

.hero {
  margin-bottom: 5em;
}

.hero_text h1, .hire_text h1 {
  font-size: 4.5ch;
  color: #333c41;
}

.hero_text h2, .hire_text h2 {
  font-size: 4ch;
}

.hero_text p, .hire_text p {
  font-size: 2ch;
  text-align: justify;
  margin: 1.4em 0;
}

.hero_img, .hire_img {
  margin: 2em 0;
}

.hero_img img, .hire_img img {
  width: 100%;
}

.hero_button, .product_button {
  font-size: 1.7ch;
  padding: 0.5em 2em;
  border: 0;
  outline: 0;
  background: #1b98f5;
  color: #f7f6ff;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.hero_button:hover, .product_button:hover {
  background: #1b97f5b2;
}

.hero_button span, .product_button span {
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
  display: block;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.hero_button i, .product_button i {
  margin-left: 1em;
}
/*===================================== Hero section End =======================================*/



/*===================================== Product section Start =======================================*/

.product {
  margin: 5em 0;
}

.product_list {
  margin: 2em 0;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.product_card {
  background: #333c41;
  color: #f7f6ff;
  padding: 1em;
  border-radius: 8px;
}

.product_card img {
  margin: 0 auto;
  width: 100%;
}

.product_card h2 {
  font-size: 3ch;
  margin: 0.3ch 0;
}

.product_card .rating {
  margin: 0.3ch 0;
}

.product_card .rating i:not(.unchecked) {
  color: #1b98f5;
}

.product_card p:last-child {
  color: #f7f6ff86;
  font-size: 1ch;
  margin-top: 1em;
}

.product_button {
  outline: none;
  background: transparent;
  color: #1b98f5;
  float: right;
  clear: both;
  padding: 0.5em 0;
}

.product_button:hover {
  background: transparent;
  color: #333c41;
}
/*===================================== Product section End =======================================*/


/*===================================== Hire section Start =======================================*/

.hire {
  margin: 10em auto;
}

.hire_img img {
  width: 100%;
}
/*===================================== Hire section End =======================================*/



/*===================================== Footer section Start =======================================*/


footer {
  padding: 3em 0;
  background: #000;
  color: #f7f6ff;
  text-align: center;
}

footer section {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

footer section .social_link {
  padding: 1em 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 2em;
  font-size: 2ch;
}

footer section .social_link a {
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #f7f6ff;
  text-decoration: none;
}

footer section .social_link a:nth-child(2n):hover {
  color: #f51b26;
}

footer section .social_link a:nth-child(2n+1):hover {
  color: #1b98f5;
}
/*===================================== Footer section End =======================================*/


/*===================================== Media quiery Start =======================================*/


@media (min-width: 641px) {
  main {
    width: 80%;
    margin: 0 auto;
  }
  .hero_text, .hire_text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero_text button, .hire_text button {
    width: 40%;
  }
  .product_list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1008px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .hire {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4em;
  }
  .hero_text, .hire_text {
    width: 50%;
  }
  .hero_img, .hire_img {
    width: 50%;
  }
  .product_list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*===================================== Media quiery End =======================================*/
